* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* !  style rules for form component
**/

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/**
* ! style rules for the navbar component
**/

nav a {

  color: #fff !important;
  text-decoration: none;
}

/**
* ! style rules for the card-container
**/

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}

@media (max-width: 991px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  #card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}